/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

/* Background video */
.bg-video {
  position: fixed;
  inset: 0; /* shorthand for top:0; left:0; right:0; bottom:0 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1.5);
  z-index: -1; /* stays behind everything else */
}

/* Layout wrapper */
.page {
  height: 100%;
  color: #f9faf8;
}

/* Header & footer bars */
.bar {
  background-color: #1f2937;
  padding: 1rem 10rem;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  justify-content: center;
  text-align: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  margin: 0 1.5rem;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #a3d3b0;
}

.content {
  padding: 2rem;
}

/* Layer 1 */
.layer1-container {
  width: 86%;
  margin: 5em auto;
  display: flex;
  background-color: rgba(31, 41, 55, 0.95);
  box-shadow: 0 0 0.8em rgb(69, 69, 69);
  border-radius: 1.5em;
  opacity: 0.95;
}

.layer1-Lcontainer,
.layer1-Rcontainer {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.layer1-Lcontainer {
  margin: 3em 2em 3em 5em;
}

.layer1-Rcontainer {
  margin: 3em 1em;
}

.layer1-Lcontainer > div {
  margin: 15px;
  padding: 15px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

.layer1-Lcontainer p {
  font-size: 18px;
  line-height: 1.8;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #fff;
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

/* Layer 2 */
.layer2-container,
.layer3-container,
.layer4-container {
  background-color: rgb(177 184 194 / 95%);
  box-shadow: 0 0 0.8em rgb(69, 69, 69);
  border-radius: 1.5em;
  opacity: 0.95;
}

.layer2-container > div,
.layer2-photos > div {
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.layer2-photos {
  display: flex;
  justify-content: space-between;
}

.layer2-photos img {
  max-width: 100%;
  height: auto;
  border: 0.2em solid #085cd1;
  border-radius: 1.5em;
  box-shadow: 0 0 0.8em rgb(69, 69, 69);
}

.layer2-photos p {
  color: #1f2937;
  margin: 10px auto;
  padding: 10px auto;
  text-align: justify;
}

.layer3-container,
.layer4-container {
  background-color: #e5e7eb;
  padding: 100px;
  margin: 50px auto;
}

.layer3-container > div,
.layer4-blue-container {
  width: 60%;
  margin: 0 auto;
  color: #1f2937;
}

.layer3-container p {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  text-align: justify;
}

.layer4-blue-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  background-color: #1471f2;
  padding: 50px;
  border-radius: 1em;
  color: white;
}
h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.layer4-blue-container div {
  margin: 20px;
  padding: 20px;
  text-align: justify;
}
